<div class="container">
    <div class="card">
        <h1>Welcome to My Hero Academia App!</h1>

        <img src="../../../assets/icons/my-hero-academia-logo.png">

        <p>On this app you can search for your favorite characters in the universe of My Hero Academia (Boku no Hero
            Academia | 僕のヒーローアカデミア) and see some info that's fetched by consuming the
            <a href="https://myheroacademiaapi.com/">My Hero Academia API</a>, also, by logging in the app, you can
            actually
            create your own heros and search them as if they were on the show!
        </p>

        <a mat-raised-button routerLink="/home/characters" color="primary">Let's Start</a>
    </div>
</div>