.image-slider {
    max-width: 90%;
    min-width: 70%;
    margin: 0px auto;
    position: relative;
    .image-container {
        position: relative;
        display: flex;
        overflow: hidden;
        justify-content: center;
        img {
            max-width: 90%;
            min-width: 240px;
            max-height: 70vh;
            height: auto;
        }
    }
    .mat-mini-fab {
        background-color: #E2E5E9;
        opacity: 0.75;
        &.left {
            position: absolute;
            left: 0px;
            bottom: 50%;
            transform: translateX(-10%) translateY(50%);
        }
        &.right {
            position: absolute;
            right: 0px;
            bottom: 50%;
            transform: translateX(10%) translateY(50%);
        }
    }
}