<mat-toolbar color="primary">
    <img src="assets/icons/my-hero-academia-logo.png" [routerLink]="['']" class="logo">
    <h1 fxHide.xs>My Hero Academia App</h1>
    <h1 fxHide.gt-xs>MHA App</h1>
    <span class="spacer"></span>

    <a mat-icon-button [routerLink]="['']"><mat-icon>home</mat-icon></a>

    <div fxLayout="row" fxHide.xs>
        <a mat-button routerLink="/characters/search">
            <mat-icon>search</mat-icon> Search
        </a>
        <a mat-button routerLink="/characters/categories">
            <mat-icon>list</mat-icon> Characters
        </a>
        <a mat-button>
            <mat-icon>login</mat-icon> Login
        </a>
    </div>

    <div fxHide.gt-xs>
        <button mat-button [mat-menu-trigger-for]="menu">
            <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu>
            <a mat-menu-item>
                <mat-icon>login</mat-icon> Login
            </a>
            <a mat-menu-item routerLink="/characters/search">
                <mat-icon>search</mat-icon> Search
            </a>
            <a mat-menu-item routerLink="/characters/categories">
                <mat-icon>list</mat-icon> Characters
            </a>
        </mat-menu>
    </div>
</mat-toolbar>