@import '../../../../../styles/medias.scss';

.container {
    max-width: 1440px;
    margin: 0px auto;
    .header {
        width: 100%;
        position: relative;
        padding-top: 15px;
        h1 {
            font-weight: 700;
            margin: 0px 20px 15px;
            text-shadow: #fff 1px 1px;
        }
        .mat-divider {
            margin-bottom: 18px;
            @include md-screen() {
                margin-bottom: 26px;
            }
        }
        &.villains {
            &::before {
                content: "";
                position: absolute;
                background: url('../../../../../assets/images/villains_text.png') no-repeat;
                background-size: contain;
                width: 100%;
                max-width: 247px;
                height: 100%;
                top: 0;
                right: 0;
                z-index: -1;
                opacity: 0.68;
                @include sm-screen() {
                    margin-right: 20px;
                }
            }
        }
        &.heroes {
            &::before {
                content: "";
                position: absolute;
                background: url('../../../../../assets/images/heroes_text.png') no-repeat;
                background-size: contain;
                width: 100%;
                max-width: 231px;
                height: 100%;
                top: 0;
                right: 0;
                z-index: -1;
                opacity: 0.68;
                @include sm-screen() {
                    margin-right: 20px;
                }
            }
        }
    }
    
    .related-characters {
        width: 90%;
        a.mat-raised-button {
            margin: 5px;
            background-color: #636780;
            color: #fff;
        }
    }
    .character-info {
        width: 90%;
        margin: 0px auto;
        @include md-screen() {
            width: 100%;
            padding-right: 24px;
        }
        .mat-icon {
            font-size: 20px;
            margin: auto 0px;
        }
    }
}