<ng-container *ngIf="!character; else characterVisualizer">
    <app-spinner></app-spinner>
</ng-container>

<ng-template #characterVisualizer>

    <div class="container">
        <div [class]="headerClass">
            <h1>{{ character.name | cardText }}</h1>
            <mat-divider></mat-divider>
        </div>

        <div fxLayout.xs="column" fxLayout="row" fxLayoutGap="16px">
            <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
                <app-image-slider [images]="character.images"></app-image-slider>

                <div class="related-characters">
                    <h3><strong>Related characters:</strong></h3>
                    <a mat-raised-button *ngFor="let char of character.family"
                        [routerLink]="[ '/home/character', char.id ]">
                        {{ char.name }}
                    </a>
                    <small *ngIf="!character.family || character.family.length === 0">There's no related characters.</small>
                </div>
            </div>

            <div fxFlex="50" fxLayout="column" class="character-info">
                <h3><strong>Name:</strong></h3>
                <p>{{ character.name | cardText }}</p>

                <h3><strong>Alias:</strong></h3>
                <p>{{ character.alias | cardText }}</p>

                <h3><strong>Bloodtype:</strong></h3>
                <p>{{ character.bloodtype | cardText }}</p>

                <h3><strong>Quirk:</strong></h3>
                <p>{{ character.quirk | cardText }}</p>
                
                <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap.gt-xs="20px">
                    <div>
                        <h3><strong>Occupation:</strong></h3>
                        <p>{{ character.occupation | cardText }}</p>
                    </div>
                    <div>
                        <h3><strong>Affiliation:</strong></h3>
                        <p>{{ character.affiliation | cardText }}</p>
                    </div>
                </div>

                <h3><strong>Description:</strong></h3>
                <p>{{ character.description | cardText }}</p>

                <div *ngIf="editable">
                    <a mat-raised-button color="primary">
                        Edit
                        <mat-icon>edit</mat-icon>
                    </a>
                </div>
            </div>
        </div>
    </div>

</ng-template>